@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import "tailwindcss";


@theme {
  --color-darkgrey: #0e0e0e;
}

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .font-michroma {
    font-family: "Michroma", sans-serif;
    font-style: normal;
  }
  .font-playfair {
    font-family: "Playfair Display", serif;
    font-style: normal;
  }
  .font-lobster {
    font-family: "Lobster", sans-serif;
    font-style: normal;
  }
}

html{
  scrollbar-width: none;
  scrollbar-track-color: transparent;
}
